@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('./Font/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

::selection {
  background-color: #9b0000;
  color: #000000;
}
::moz-selection {
  background-color: #9b0000;
  color: #000000;
}

.App {
  text-align: center;
  font-family: 'VCR_OSD_MONO', monospace;
  text-shadow: 2px 2px 2px #000;
  color: #9b0000;
  border: 2px solid #9b0000;
  margin: 0;
}

html {
  background: url('./Images/Background.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  height: webkit-fill-available;
}

.Jobs {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #9b0000;
  background-color: #000000a6;
  backdrop-filter: blur(10px);
  margin-top: 20px;
}

.apply {
  display: flex;
  font-family: 'VCR_OSD_MONO', monospace;
  background-color: #9b0000;
  border: 1px solid #9b0000;
  box-shadow: 2px 2px 2px #000;
}

.apply:hover {
  background-color: #00000000;
  color: #9b0000;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
  backdrop-filter: blur(10px);
}

.sponsorDrop {
  position: relative;
  display: inline-block;
}

.sponsorship {
  width: 200px;
  color: #9b0000;;
  font-family: 'VCR_OSD_MONO', monospace;
  background-color: #00000000;
  outline: 1px solid #9b0000;
  border: none;
  backdrop-filter: blur(10px);
  text-shadow: 2px 2px 2px #000;
}

.sponsorshipContent{
  font-size: 12px;
  display: none;
  width: 200px;
  position: absolute;
  background-color: #00000000;
  backdrop-filter: blur(10px);
  outline: 1px solid #9b0000;
  z-index: 1;
  margin: 0;
  
}

.sponsorDrop:hover .sponsorshipContent {
  display: block
  
}

.sponsorship:hover {
  background-color: #9b0000;
  color: #000000;
  cursor: pointer;
}

.sponsorshipContent p {
  color: #9b0000;
  font-family: 'VCR_OSD_MONO', monospace;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sponsorshipContent p:hover {
  background-color: #9b0000;
  color: #000000;
  cursor: pointer;
}

.play {
  display: flex;
  position: fixed;
  font-family: 'VCR_OSD_MONO', monospace;
  background-color: none;
  border: none;
  text-shadow: 2px 2px 2px #000;
  top: -35px;
  left: 8px;
  cursor: pointer;
}

.title {
  position: static;
  top: -35px;
}